---
export interface Props {
	titulo: string;
	cuerpo: string;
	href: string;
    fuente: string;
    imgDescript: string;
}

const { fuente, imgDescript, href, titulo, cuerpo } = Astro.props;
---

<div class="card" style="width: 100%;">
    <img src={fuente} class="card-img-top" alt={imgDescript}>
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">{cuerpo}</p>
      <a href="#" class="btn btn-primary">{href}</a>
    </div>
  </div>